{% extends 'email.html.twig' %}

{% block body %}
Bonjour {{ user.username }},

Clique là : 
{{ user.token }}

<a href="{{ url('checkEmailToken', {"email":user.email, "token":user.token}) }}">{{ url('checkEmailToken', {"email":user.email, "token":user.token}) }}</a>
{% endblock %}
